body { background-color: royalblue;
  text-align: center;
}
h1 {
  color:red;
  border-style: solid;
  border-color: red;
}
  font-family: system-ui;
  background: #f06d06;
  color: white;
  text-align: center;



